.how-to-play-container {
  line-height: 1.6;
  max-width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.how-to-play {
  max-width: 70vw;
  margin: 0 auto;
  padding-top: 1.5em;
  padding-bottom: 1em;
}
.how-to-play .introduction {
  text-align: center;
}
.how-to-play .introduction h1 {
  font-size: 3em;
}
h1,
h2,
h3 {
  color: #0f172a;
}

h1 {
  font-size: 2.2em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.8em;
  margin-top: 1em;
  border-bottom: 2px solid #e2e8f0;
  padding-bottom: 0.3em;
}

ul,
ol {
  padding-left: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

li {
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.3em;
  margin-top: 1.2em;
  margin-bottom: 0.3em;
  font-weight: bold;
}

.note {
  color: #475569;
  font-size: 0.95em;
}

.highlight-red {
  font-weight: bold;
  color: #be123c;
}

.section {
  margin-bottom: 2em;
}

.section p {
  margin-top: 0.5em;
}

.play-now-btn {
  display: inline-block;
  bottom: 0;
  background-color: var(--color-primary);
  color: white;
  font-weight: 600;
  border: none;
  font-size: 1.8em;
  padding-inline: 1em;
  padding-block: 0.5em;
  border-radius: 0.5em;
  margin-top: 1em;
  margin-bottom: 4em;
  text-decoration: none;
  transition:
    background-color 0.2s ease,
    transform 0.2s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.play-now-btn:hover,
.play-now-btn:active,
.play-now-btn:focus-visible {
  background-color: var(--color-primary-hover);
  transform: scale(1.05);
}

.link {
  color: #4338ca;
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  color: #3730a3;
  text-decoration: underline;
}

kbd {
  font-family: ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
  font-size: 0.9em;
  line-height: 1;
  padding: 0.15em 0.45em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.35em;
  background: #f3f5f7;
  color: #2b333b;
  border: 1px solid #c4ccd4;
  font-weight: 600;
  box-shadow: inset 0 -1px 0 #c4ccd4;
  white-space: nowrap;
}

@media only screen and (max-width: 830px) {
  .how-to-play-container {
    font-size: 0.75rem;
  }
}

@media only screen and (max-width: 655px) {
  .how-to-play-container {
    font-size: 0.68rem;
  }
  .how-to-play {
    max-width: 90vw;
  }
}

@media only screen and (max-width: 435px) {
  .how-to-play-container {
    font-size: 0.58rem;
  }
}

@media only screen and (max-width: 375px) {
  .how-to-play-container {
    font-size: 0.5rem;
  }
}
