.footer{
    position: relative;
    width: 100%;
    bottom: 0;
}

.content{
    position: relative;
    width: 100%;
    height: 640px;
    background-image: url("../images/index/pro_bg.png");
}

.con_center{
    width: 1200px;
    height: 640px;
    margin: 0 auto;
}

.con_left{
    width: 500px;
    height: 640px;
}


.c-banner{
    width: 94%;
    position: relative;
    margin-top: 40px;
}
.c-banner img{
    width: 100%;
}
.c-banner .banner ul{
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
}
.c-banner .banner ul li{
    position: absolute
    display: none;
    opacity: 0;
}
.c-banner .banner ul li:nth-child(1){
    opacity: 1;
    display: block;
}
.c-banner .banner ul li img{
    width: 100%;
    position: absolute;
    top: 0px;
}
.c-banner .banner ul li:first-child img{
    position: relative;
}

.c-banner .jumpBtn{
    width: 100%;
    position: absolute;
    bottom: -43px;
    text-align: center;
}
.c-banner .jumpBtn ul{
    margin-bottom: 0px;
    padding: 0px;
}

.c-banner .jumpBtn ul li{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    opacity: 0.9;
    margin-left: 10px;
}
.c-banner .jumpBtn ul li:first-child{
    margin-left: 0px;
}
@media screen and (max-width:768px) {
    .c-banner{
        width: 100%;
        height: 345px;
        overflow: hidden;
    }
    .c-banner .banner ul li img{
        width: 768px;
        height: 345px;
        position: absolute;
        left: 50%;
        margin-left: -384px;
    }
}


.con_right{
    width: 700px;
    height: 640px;
}

.live_logo_area{
    margin-left: 20px;
}

.live_logo_area .app_logo{
    margin-top: 150px;
}

.ewm_area .down_ewm{
    background: #FFF;
    border-radius: 8px;
    text-align: center;
    width: 200px;
    height: 200px;
    line-height: 200px;
    margin-top: 170px;
}

.ewm_area p{
    text-align: center;
}

.ewm_area .down_ewm img{
    width: 85%;
    height: auto;
    vertical-align: middle;
}

.ewm_area .ewm_text{
    height: 30px;
    line-height: 40px;
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
}









